@import '../../common/constants';

.status-bar {
    border-top: 1px solid $blue;
    padding-top: 5px;
    display: flex;
    align-items: center;
    gap: 20px;

    &__values {
        display: flex;
        gap: 20px;

        @media (max-width: $screenSize2) {
            flex-direction: column;
            gap: 5px;
        }
    }

    &__controls {
        display: flex;
        gap: 20px;

        @media (max-width: $screenSize2) {
            flex-direction: column;
            gap: 20px;
            align-items: flex-end;
            flex-grow: 1;
        }
    }

    &__item {
        &--unicode-switch {
            flex-grow: 1;
            text-align: right;
        }
    }

    &__item-title {
        color: $gray-2;
        font-size: 12px;
    }

    &__item-value {
        font-family: monospace;
    }

    input[type="number"] {
        width: 65px;
        margin: 0 5px;
        color: $blue;
        border: none;
        background: $gray-1;
        font-size: 16px;

        &:focus {
            outline: 1px solid $yellow;
        }
    }
}

.unicode-mode {
    cursor: pointer;
    padding: 2px 4px 2px 2px;

    input:focus-visible {
        outline: 1px solid $yellow;
    }
}
