@import '../../common/constants';

.status-bar {
    border-top: 1px solid $blue;
    padding-top: 5px;
    display: flex;
    align-items: center;
    gap: 20px;

    &__item {

    }

    &__item-title {
        color: $gray-2;
        font-size: 12px;
    }

    &__item-value {
        font-family: monospace;
    }

    input {
        width: 65px;
        margin: 0 5px;
        color: $blue;
        border: none;
        background: $gray-1;
        font-size: 16px;

        &:focus {
            outline: 1px solid $yellow;
        }
    }
}
