@import '../../common/constants';

.wrapper {
    flex-grow: 1;
    display: flex;
    gap: 20px;
    overflow-y: auto;
    padding-right: 10px;
    scrollbar-color: $green $gray-1;

    &:focus-visible {
        outline: 1px solid $yellow;
    }

    &::-webkit-scrollbar {
        background: $gray-1;
    }

    &::-webkit-scrollbar-thumb {
        background: $green;
    }
}

.view {
    align-self: start;
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat($rowSize1, 1fr);
    font-family: monospace;
    padding: 3px;

    @media (max-width: $screenSize1) {
        grid-template-columns: repeat($rowSize2, 1fr);
    }

    @media (max-width: $screenSize2) {
        grid-template-columns: repeat($rowSize3, 1fr);
    }

    @media (max-width: $screenSize3) {
        grid-template-columns: repeat($rowSize4, 1fr);
    }

    &--hex {
        text-transform: uppercase;
        gap: $rowsGap 10px;
        color: $green;
    }

    &--text {
        color: $yellow;
        gap: $rowsGap 0;
    }
}
