@import '../../common/constants';

.wrapper {
    display: flex;
    gap: 20px;
}

.view {
    border: 1px solid $dark-1;
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    font-family: monospace;
    padding: 3px;

    &--hex {
        text-transform: uppercase;
        gap: 5px 15px;
        color: $green;
    }

    &--text {
        color: $yellow;
    }
}

:global(.active-view) {
    border-color: $yellow;
}

.delimiter {
    background: $gray-2;
    width: 1px;
    flex-shrink: 0;
}
