@import '../../common/constants';

.wrapper {
    display: flex;
    gap: 20px;
    overflow-y: auto;
    padding-right: 10px;
}

.view {
    border: 1px solid $dark-1;
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    font-family: monospace;
    padding: 3px;

    &--hex {
        text-transform: uppercase;
        gap: 5px 10px;
        color: $green;
    }

    &--text {
        color: $yellow;
        gap: 5px 0;
    }
}

.view:global(.active-view),
.view:focus {
    border-color: $yellow;
    outline: none;
}
