@import '../../../common/constants';

.value {
    height: $byte-height;

    &:hover {
        cursor: pointer;
        background: $byte-hover-color;
    }

    &--selected {
        background: $selected-color;

        &:hover {
            background: $selected-color;
        }

        :global(.active-view) & {
            box-shadow: $active-view-item-shadow;
        }
    }
}