@import '../../../common/constants';

.value {
    $self: &;
    height: $byte-height;

    &:hover {
        cursor: pointer;
        background: $byte-hover-color;
    }

    &--empty {
        background: #ccc;
    }

    &--secondary-selected {
        background: #efa2a2;
    }

    &--selected {
        background: $selected-color;

        &:hover {
            background: $selected-color;
        }

        :global(.active-view) & {
            box-shadow: $active-view-item-shadow;
        }

        &#{ $self }--empty {
            background: $selected-empty-color;
        }
    }
}