@import '../common/constants';

::selection {
    color: $dark-1;
    background: $cyan;
}

body {
    background: $dark-1;
    color: $blue;
}

.app {
    min-height: 100%;
    width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 10px;

    .file-select {
        display: flex;
        flex-direction: column;

        &__title {
            font-weight: bold;
            margin-bottom: 2px;
        }

        &__drop-zone {
            height: 50px;
            width: 300px;
            border: 5px dashed $gray-2;

            &.dragOver {
                border-color: $green;
            }
        }
    }

    .fileSelectLabel {
        cursor: pointer;
        font-weight: bold;
        color: $red;
        text-decoration: underline dashed;
        text-underline-offset: 4px;
        padding: 4px;

        &:hover {
            color: scale-color($red, $lightness: 20%);
            border-color: scale-color($red, $lightness: 20%);
        }

        &:focus-visible {
            outline: 1px solid $yellow;
        }

        input {
            display: none;
        }
    }
}

.file-info {
    &__title {
        font-weight: bold;
        margin-bottom: 2px;
    }

    &__item {
        font-size: 12px;
        margin-bottom: 3px;
    }

    h4 {
        margin: 0;
        display: inline;
        color: $gray-2;
        font-weight: normal;
    }
}

.unicode-mode {
    cursor: pointer;
    padding: 2px 4px 2px 2px;

    input:focus-visible {
        outline: 1px solid $yellow;
    }
}
