@import '../../common/constants';

.value {
  height: $byte-height;

  &:hover {
    background: $byte-hover-color;
    cursor: pointer;
  }

  &--empty {
    background: #ccc;
  }

  &--selected {
    background: $selected-color;

    &.active-view {
      box-shadow: $active-view-item-shadow;
    }
  }
}
