@import '../../../common/constants';

.value {
    height: 20px;
    text-align: center;

    :global(.view--text) & {
        width: 12px;
    }

    &:hover {
        background: $blue;
        color: $gray-0;
        cursor: pointer;
    }

    &--secondary-selected {
        background: $gray-3;
        color: $gray-0;
    }

    &--selected, &--selected:hover {
        background: $yellow;
        color: $gray-0;
    }
}