@import '../../../common/constants';

.value {
    $self: &;
    height: 20px;

    &:hover {
        background: $blue;
        color: $dark-1;
        cursor: pointer;
    }

    &--secondary-selected {
        background: $green;
        color: $dark-1;
    }

    &--selected {
        background: $yellow;
        color: $dark-1;

        :global(.active-view) & {
            box-shadow: 2px 2px 0 0 $green;
        }
    }
}