@import '../../../common/constants';

.value {
    height: 20px;
    text-align: center;

    :global(.view--text) & {
        width: 12px;
    }

    &:hover {
        background: $blue;
        color: $dark-1;
        cursor: pointer;
    }

    &--secondary-selected {
        background: $gray-3;
        color: $dark-1;
    }

    &--selected {
        background: $yellow;
        color: $dark-1;
    }
}